@font-face {
  font-family: "flama book";
  src: url("/public/Fonts/flama book_1596466159.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "flama medium";
  src: url("/public/Fonts/flama medium_1596466164.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* THE CONTAINER THAT HOLDS THE QUOTE  */
.quoteSection {
  /* TEXT */
  font-size: 35px;
  font-style: normal;
  font-weight: 550;
  line-height: 55px; /* 157.143% */
  letter-spacing: 3.5px;
  text-transform: uppercase;

  /* LAYOUT */
  display: flex;
  position: relative;
  width: 100%;
  background-color: black;
  color: white;
  font-family: "flama book";
  /* text-align: center; */
  /* padding: 40px; */
  /* padding-left:300px; */
  /* padding-left: 260px; */

  /* padding-top: 60px; */
  padding-bottom: 60px;

  overflow: hidden;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.quoteBox {
  display: flex;
  /* width: 100%; */
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  background-color: black;
  padding: 0 40px 20px 276px;
  /* text-align: left; */
  text-align: left;

  color: white;
  font-family: "flama book";
}

.quotePText {
  background-color: black;
  /* max-width: 1004px; */
  color: white;
  font-family: "flama book";
  font-size: 35px;
  font-style: normal;
  font-weight: 550;
  line-height: 55px;
  letter-spacing: 3.5px;
  /* padding-left: 276px; */
  padding-right: 136px;
  padding-top: 122px;
  /* padding-right: 176px; */
  /* margin-top: 150px; */
  text-transform: uppercase;
  /* text-align: center; */
  /* width:50%; */

  display: flex;
  position: relative;

  width: 100%;
}

.ownerNameTitleBox {
  display: flex;
  margin-top: 60px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 4.4px;
  font-style: normal;
  font-weight: 650;
  line-height: normal;
}

/* THE LITTLE CIRCLE SYMBOL BETWEEN THE QUOTE AND THE AUTHOR */
.quoteEllipse {
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: white;
  margin-left: 1px;
  margin-top: 75px;
}

/* THE CONTAINER FOR THE AUTHOR TEXT */
.quoteAuthorText {
  background-color: black;
  color: white;
  font-family: "flama medium";
  font-size: 22px;
  font-weight: 650;
  /* padding-top: 0px; */
  padding-bottom: 100px;
  /* margin-left: 272px; */
  letter-spacing: 4.4;
}

/* THE TITLE OF THE AUTHOR (OWNER) */
.quoteAuthorTitle {
  position: relative;
  font-family: "flama book";
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  font-size: 22px;
  color: white;
  padding-left: 10px;
}

/* @media screen and (max-width: 800px) {
  .quoteSection {
    display: flex;
    position: center;
    align-items: center;
    padding-left: 20%;
    font-size: 5rem;
    width: 10%;
  }
} */

@media screen and (max-width: 800px) {
  .quoteSection {
    /* padding: 40px 20px; */
    width: 100%;
    padding-left: 17%;
    top:30%;
    display: flex;
    position: relative;
  }
    .quoteBox {
      /* padding: 0 20px 20px 20px; */
      /* padding-right: 20%; */
      padding-top: 8%;
      width: 100%;
    }

    .quotePText {
      /* font-size: 24px; */

      line-height: 36px;
      /* padding-top: 30%; */
      padding-right: 5%;
    }

    .ownerNameTitleBox {
      margin-top: 20px;
    }

    .quoteEllipse {
      margin-top: 20px;
    }

    .quoteAuthorText {
      font-size: 18px;
      padding-bottom: 20px;
    }

    .quoteAuthorTitle {
      font-size: 18px;
      padding-left: 5px;
    }
  }
