@font-face {
  font-family: "flama medium";
  src: url("/public/Fonts/flama medium_1596466164.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

#heroImage {
  width: 90%;
  height: auto;
  display: center;
}
.hero {
  background-color: black;
}

.heroContainer{

  padding: 30px;
  top:445px;

}

.heroText {

  color: var(--White, #ffffff);
  font-family: 'flama medium';
  font-size: 75px;
  font-style: normal;
  font-weight: 650;
  line-height: 85px; /* 113.333% */
  letter-spacing: 15px;
  position:absolute;
  top:445px;
}
