/* MOBILE---------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1200px) {
  .panel {
    flex: 1; /* Adjust as needed for smaller screens */
    padding-right: 50px; /* Adjust padding for smaller screens */
    height: auto;
  }

  .panel.active {
    padding-left: 10px;
    padding-right: 50px;
  }

  .accordion {
    flex-direction: column;
    height: 700px;
    box-shadow: none;
  }
}

@media screen and (max-width: 800px) {
  /* body {
      margin: 0;
      height:20vh;
      justify-content: center;
      padding-left:30%;
    } */

/* the container for the accordion header? */
  .rectangularSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 50%vw;
    /* border: 2px solid yellow; */
    /* padding-left: 27%; */
    overflow: hidden;
  }

  .accordionHeader {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* justify-content: center; */
    padding-top:10%;
    padding-bottom:10%;
    /* padding-right: 10%; */
    /* font-size: 215%; */
    margin:0;

    /* FONT */
    color: #000;
  
    font-size: 30px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
    letter-spacing: 6px;
  }

  .accordionContainer {
    flex-direction: column;
    /* height: 700px; */
    /* box-shadow: none; */
    /* width: 100%; */
    overflow: visible;
    /* left: -1%; */
    margin: 0;
    padding-bottom: 0;
    background-color: white;

    /* height: auto; */
    /* max-width: 1467px; */
    /* border: 2px solid yellow; */
    align-items: flex-end;
  }

  .panel {
    border-bottom: 1px solid;
    border-left-color: #a2a8aa;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row-reverse;
    /* padding-left: 5%; */
    /* border-width: 90%vw; */
  }

  .panel img {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .panel.panel:not(.inactive) {
    width: 100%;
    margin-left: -29%;
    display: flex;
    /* if i remove flex-direction column then the image is misaligned but the blend name at the bottom re-appears */
    /* flex-direction: column; */
  }

  .panel.active {
    display: flex;
    flex-wrap: wrap;
    /* padding: 10%; */
    padding-right: 0;
    padding-left: 4%;
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .panel.active img {
    opacity: 100%;
    display: flex;
    justify-content: center;
    width: 50%vw;
  }

  .panel.active.plusSign{
    /* opacity: 0; */
    display: none;
  }

  .blendName {
    font-size: 20%;
    /* transform: rotate(1.0 turn); */
    /* writing-mode: horizontal-tb; */
    text-orientation: upright;
  }

  .blendAccordionName {
    text-orientation: upright;
    transform: rotate(360deg);
    writing-mode: horizontal-tb;
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  /* .panel.blendAccordionName{
      border:2px solid orange;
    } */

  .coffeeInfoBox {
    display: flex;
    position: relative;
    justify-content: center;
    top: 70%;
    z-index: 1;
    /* height: auto; */
  }

  .topCoffeeInfo {
    padding-top: 0;
    padding-bottom: 10%;
  }

  #1.bottomCoffeeInfo{
    padding-top:2%;

  }

  .bottomCoffeeInfo {
    display: flex;
    flex-direction: column;
    position: relative;
    /* padding-top: 4%; */
  }

  .quickInfo {
    padding-top: 0;
  }
}
