/* html {
  height: 100vh;
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "flama book";
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "flama book";
  src: url("/public/Fonts/flama book_1596466159.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "flama medium";
  src: url("/public/Fonts/flama medium_1596466164.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* THE CONTAINER FOR THE BLENDS HEADER TEXT */
.rectangularSection {
  background-color: #ffffff;
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  align-items: center;

  /* padding-left: 100px; */
}
/* align-items: center; */
/* width: 100%; */
/* ------------- */
/* "OUR BLENDS" HEADER TEXT */
.accordionHeader {
  background-color: white;

  /* FONT */
  font-family: "flama medium";
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 650;
  line-height: normal;
  letter-spacing: 8px;
  text-transform: uppercase;

  /* LAYOUT */
  display: flex;

  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
  /* right: 100px; */
  /* padding-left: 100px; */
  right: 31%;
  /* border:2px solid blue; */
}
/* padding-left: 100px; */

/* THE CONTAINER FOR THE ACCORDION */
.accordionContainer {
  display: flex;
  position: relative;
  /* if i change flex wrap here to wrap it pushes the last two blends to a second row  */
  /* flex-wrap: no-wrap; */
  width: 100%;
  /* removing max width allows for this to be 100% on large monitor for e.g. */
  /* max-width: 1487px; */
  /* padding-left: 10px; */
  padding-bottom: 20px;
  overflow: hidden;
  margin: 0 auto;
}

.panel {
  position: relative;
  /* width:171px; */
  cursor: pointer;
  width: 100%;
  /* max-width: 100%; */
  height: 713px;
  flex: 9;
  /* background-size: cover; */
  /* align-items: left; */
  /* background-position:left; */
  background-repeat: no-repeat;
  transition: flex 0.7s ease-in-out;
  border-left: 2px solid;
  border-left-color: #a2a8aa;

  /* padding-right: 100px; */

  overflow: hidden;

  display: flex;
  align-items: flex-end;
  justify-content: space-around;

  box-sizing: border-box;
}

.panel img {
  opacity: 20%;
}

/* the coffee name that is vertical */
.blendAccordionName {
  /* TEXT */
  font-family: "flama medium";
  color: #000;
  writing-mode: vertical-lr;
  text-transform: uppercase;
  /* text-orientation: mixed; */
  /* text-combine-upright: none; */
  transform: rotate(180deg);
  font-size: 18px;
  font-style: normal;
  font-weight: 650;
  /* line-height: normal; */
  letter-spacing: 3.6px;

  /* LAYOUT */
  /* height: 500px; */
  display: flex;
  position: absolute;
  left: 265px;
  /* border:2px solid purple; */
  padding-top: 20px;

  /* padding:0 0 0 50px; */

  /* opacity: 100%; */
  z-index: 1;
}

.panel img {
  padding-right: 50px;
}

.panel.active {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex: 3;
  transform-origin: left top;
  transform: scaleX(1);
  transition: transform 0.7s ease-in-out, transform 0.7s ease-in-out;
  max-width: 562px;

  padding-left: 20px;
  /* pr 167 */
  padding-right: 150px;
  /* padding: 100px; */
}

.panel.active img {
  opacity: 100%;
}
/* just quick fix for now */
.panel.active .blendAccordionName {
  opacity: 0;
  /* z-index: 3; */
}

.panel:not(.inactive) {
  flex: 1;
  /* transform: scaleX(1); */
  transition: flex 0.7s ease-in-out;
  width: 50px;
  /* padding-right:200px; */
}

.panel.inactive .blendAccordionName {
  opacity: 1;
}

.panel .blendAccordionName {
  opacity: 1; /* Ensure the blend name is always visible */
}

.plusSign {
  display: flex;
  position: relative;
  bottom: 655px;
  /* right:-29px */
  right: 37px;
  transition: transform 0.5s ease-in-out;
}

.panel.active .plusSign {
  transform: rotate(45deg);
}

.rotate {
  transform: rotate(45deg);
}

.panel.active.plusSign {
  transform: rotate(90deg);
}

/* THE P TEXT THAT HOLDS THE INDIVIDUAL NAMES OF THE BLENDS */
.blendName {
  font-weight: normal;
  font-family: "flama medium";
  text-transform: uppercase;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 650;
  line-height: normal;
  letter-spacing: 3.6px;
  transform: rotate(0.5turn);
}
/* ---------- */

/* THE POP UP THAT HOLDS THE COFFEE INFO WHEN THE ACCORDION PANEL IS CLICKED------------------------------------------- */
.coffeeInfoBox {
  position: absolute;
  display: flex;
  flex-wrap: wrap;

  border-radius: 12px 0px 0px 12px;
  width: 100%;
  width: 427px;
  height: 338px;
  /* flex-shrink: 0; */
  background: linear-gradient(to bottom, black 50%, #fff200 50%);
  /* color: rgb(175, 38, 38); */
  writing-mode: horizontal-tb;

  /* TEXT */
  font-family: "flama medium";
  color: #f6f4f4;
  font-size: 16px;
  font-style: normal;
  font-weight: 550;
  line-height: 22px; /* 137.5% */
  letter-spacing: 1.6px;

  margin-bottom: 50px;
  /* further padding on coffee box makes the blend name in box become two lines */
  padding: 30px;
  box-sizing: border-box;
}

/* THE BLACK PART OF THE COFFEE INFO CONTAINER */
.topCoffeeInfo {
  /* TEXT */
  font-family: "flama medium";
  text-transform: uppercase;
  color: var(--White, #fff);
  font-size: 35px;
  font-style: normal;
  font-weight: 650;
  line-height: normal;
  letter-spacing: 7px;

  /* LAYOUT */
  padding-top: 18px;
  padding-bottom: 15px;
}

.blendTitle {
  font-family: "flama medium";
  color: var(--White, #fff);
  font-size: 35px;
  font-style: normal;
  font-weight: 650;
  line-height: normal;
  letter-spacing: 7px;

  padding-bottom: 13px;
}

.blendTypeTitle {
  font-family: "flama book";
  color: var(--White, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  letter-spacing: 4px;
}
/* THE YELLOW PART OF THE COFFEE INFO CONTAINER */
.bottomCoffeeInfo {
  /* TEXT */
  font-family: "flama book";
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 550;
  line-height: 22px; /* 137.5% */
  letter-spacing: 1.6px;

  /* padding-top: 10px; */
  padding-bottom: 43px;
  /* display: flex; */
  position: relative;
  align-items: center;
}

.quickInfo {
  /* TEXT */
  color: #000;
  font-family: "flama book";
  font-size: 12px;
  font-style: normal;
  font-weight: 650;
  line-height: 15px; /* 125% */
  letter-spacing: 2.4px;
  text-transform: uppercase;

  /* LAYOUT */
  /* 64px pt */
  padding-top: 61px;
  padding-bottom: 33px;

  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.quickInfo img {
  padding-right: 13.75px;
}



/* MOBILE---------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1200px) {
  .panel {
    flex: 1; /* Adjust as needed for smaller screens */
    padding-right: 50px; /* Adjust padding for smaller screens */
  }

  .panel.active {
    padding-left: 10px;
    padding-right: 50px;
  }

  .accordion {
    flex-direction: column;
    height: 700px;
    box-shadow: none;
  }
}

@media screen and (max-width: 800px) {
  /* body {
    margin: 0;
    height:20vh;
    justify-content: center;
    padding-left:30%;
  } */

  .rectangularSection {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 50%vw;
    /* border: 2px solid yellow; */
    padding-left: 41%;
    overflow: hidden;
  }

  .accordionHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 10%;
    font-size: 90%vw;
  }

  .accordionContainer {
    flex-direction: column;
    /* height: 700px; */
    /* box-shadow: none; */
    /* width: 100%; */
    overflow: visible;
    left:-1%;
    margin:0;
    /* height: auto; */
    /* max-width: 1467px; */
    /* border: 2px solid yellow; */

  }

  .panel {
    border-bottom: 1px solid;
    border-left-color: #a2a8aa;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row-reverse;
    /* padding-left: 5%; */
    /* border-width: 90%vw; */
  }

  .panel img {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .panel.panel:not(.inactive){
    width:100%;
    margin-left:-37%;
  }

  .panel.active {
    display: flex;
    flex-wrap: wrap;
    /* padding: 10%; */
    padding-left: 4%;
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .panel.active img {
    opacity: 100%;
    display: flex;
    justify-content: center;
    width: 50%vw;
  }

  .blendName {
    font-size: 20%;
    /* transform: rotate(1.0 turn); */
    /* writing-mode: horizontal-tb; */
    text-orientation: upright;
  }


  .blendAccordionName {
    text-orientation: upright;
    transform: rotate(360deg);
    writing-mode: horizontal-tb;
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  /* .panel.blendAccordionName{
    border:2px solid orange;
  } */

  .coffeeInfoBox {
    display: flex;
    position: relative;
    justify-content: center;
    top: 70%;
    z-index: 1;
  }
}
