@font-face {
  font-family: "flama book";
  src: url("/public/Fonts/flama book_1596466159.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "flama medium";
  src: url("/public/Fonts/flama medium_1596466164.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.footerHonourText {
  color: var(--White, #fff);
  background-color: rgb(0, 0, 0);
  font-family: "flama medium";
  font-size: 30px;
  font-style: normal;
  font-weight: 650;
  line-height: 34px; /* 113.333% */
  letter-spacing: 6px;

  padding: 50px 970px 50px 100px;
  border-top: 1px solid #aaa;
}

.contactLinks {
  font-family: "flama medium";
  background-color: black;
  color: var(--White, #fff);

  font-size: 22px;
  font-style: normal;
  font-weight: 650;
  line-height: 50px; /* 227.273% */
  letter-spacing: 4.4px;
}


.footerEmailInput {
  color: var(--White, #fff);

  background-color: black;
  padding-bottom: 100px;
  padding-left: 100px;
}

.bottomLineFooterContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px; 
}


.legaleseFooter {
  color: var(--White, #fff);

  background-color: black;
  font-family: "flama book";

  display: flex;
  position: relative;


  font-size: 11px;
  font-style: normal;
  font-weight: 550;
  line-height: 22px; /* 200% */
  letter-spacing: 2.2px;

  /* padding: 5px 30px 5px 30px; */

}

.legaleseFooter p{
  padding-left:100px;
  padding-right:30px;
}


.socialLinks {

  display: flex;
position: relative;
justify-content: flex-end;


  background-color: black;
  color: white;


  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 80% */
  letter-spacing: 1px;
  text-transform: uppercase;

}

.socialLinks svg {
  padding:24px;


}