@font-face {
  font-family: "flama book";
  src: url("/public/Fonts/flama book_1596466159.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "flama medium";
  src: url("/public/Fonts/flama medium_1596466164.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.carouselContainer {
  background-color: rgb(0, 0, 0);
  position: relative;
  height: auto;
  width: auto;
  /* max-width: 1000px;  */
  /* display: flex; */
  /* margin: auto; */
  /* overflow:hidden ; */
}
.arrowContainer {
  /* position: absolute; */
  bottom: 50px;
  width: 100%;

  background-color: black;
  border: none;
  display: flex;
  justify-content: space-between;

  /* justify-content: flex-end; */
}

.arrowLeft,
.arrowRight {
  background-color: black;
}

.carouselSlide {
  background-color: aqua;
  /* display: flex; */
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

/* .carouselSlide img {
  /* width: 100%; */
/* width: 1003px; */
/* flex: 0 0 100%; */
/* }  */

.carouselImage img {
  /* width: 103px; */
  position: relative;
  width: 100%;
  bottom: 50px;
}
/* .carousel {
  display: flex;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;

  background-color: black;
  justify-content: center;
} */

/* .carousel img {
 
  /* width: 1003px; */
/* width:auto;
  height: 1003px;
  display: inline; */
/* flex-shrink: 0; */
/* margin-right:10px; */
/* background-size: cover; */

/* } */

.carouselControl {
  background-color: rgb(0, 0, 0);
}

/* TESTING */

.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 50px;
  padding-top: 20px;
}

.arrow-button {
  /* background-color: rgb(163, 27, 27); */
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.arrow-button img {
  width: 20px;
  height: 20px;
  display: block;
}

.arrow-button:hover {
  background-color: #de6328;
  border-radius: 50%;
  /* NEED TO GET THIS TO BE A BLACK ARROW */
  color: rgb(78, 62, 222);
}

.arrow-button:hover img {
  color: black;
}

/* .arrows {
  position: absolute;
  background-color: aquamarine;
  bottom: 10px;
  right: 10px;

  width: 70px;
  height: 70px;
  transform: rotate(45deg); 
  flex-shrink: 0;
} */

/* ETHICALLY SOURCED SECTION ----------------- */

.sourcedTitleBox {
  color: var(--White, #fff);
  display: relative;

  background-color: black;

  font-family: "flama medium";
  font-size: 22px;
  font-style: normal;
  font-weight: 650;
  line-height: normal;
  letter-spacing: 4.4px;
  text-transform: uppercase;

  padding: 50px 931px 10px 217px;
}

.sourcedPText {
  font-family: "flama book";

  background-color: black;
  color: var(--White, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 550;
  line-height: 22px; /* 137.5% */
  letter-spacing: 1.6px;

  padding: 10px 562px 100px 217px;
}

@media screen and (max-width: 800px) {
  .carouselContainer {
    width: 100%vw;
    max-width: 100%vw;
  }
  .carouselSlide img {
    display: flex;
    position: center;
    width: 100%;
  }

  .sourcedTitleBox {
    display: flex;
    justify-content: center;
    font-size: 100%;
    width: 100%;
    /* max-width: 100%; */
    /* text appears when padding left 45% but it also throws off stuff to the right side  */
    /* padding-left: 45%; */
    overflow: hidden;
  }
  .sourcedTitleBox h3 {
    font-size: 100%;
    /* width: 100%; */
  }

  .sourcedPText {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 100%;
    padding-left: 40%;
  }
}
