
.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.AppHeader {
  background-color: black;

  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  /* padding: 40px; */
  /* padding-bottom:6px; */
  /* cheat way to get things to align better on laptop */
  /* padding-left: 20%; */


}

.AppBody{
  background-color: black;
  /* cheat way to get things to align better on laptop */
  /* padding-left: 20%; */
  /* overflow: hidden; */
  
}

.App-link {
  color: #61dafb;
}

.AppFooter{
  /* cheat way to get things to align better on laptop */
  /* padding-left: 17%; */

  width: 100%;

}
