/* nav {
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-end;
} */

@font-face {
  font-family: 'flama medium';
  src: url('/public/Fonts/flama medium_1596466164.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 10px 20px; 
}

.logo {
  margin-right: 10px; 
}

.navAnchors {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  margin: 20px;
}

.navAnchors {
  margin-left: 90px;
  cursor: pointer; 
  font-family: 'flama medium';

}

.navAnchor1 {
  text-decoration: none;
  padding-left:30px;
  color:white;

}

.navAnchor2 {
  text-decoration: none;
  color:white;
  padding-left:50px;
}

