
@font-face {
  font-family: "flama medium";
  src: url("/public/Fonts/flama medium_1596466164.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.nav {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: left;
  padding: 10px 20px;
}


.logoImage {
  display: flex;
  text-decoration: none;
  margin-right: 10px;
}


.navAnchors {
  display: flex;
  text-decoration: none;
  padding-top:20px;
  /* margin-left: 90px; */
  cursor: pointer;
  font-family: "flama medium";
}

.navAnchor1 {
  display: flex;
  text-decoration: none;
  padding-left: 30px;
  color: white;
}

.navAnchor2 {
  display: flex;
  text-decoration: none;
  color: white;
  padding-left: 50px;
} 
