@font-face {
  font-family: "flama medium";
  src: url("/public/Fonts/flama medium_1596466164.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.nav {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  /* align-items: left; */
  /* padding-left: 15px; */
  padding-left: 2%;
}

.logoImage {
  /* display: flex; */
  text-decoration: none;
  margin-right: 10px;
  padding: 36px 0 35px 45px;
}

.navAnchors {
  display: flex;
  cursor: pointer;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 20px 12px 20px 0;
  cursor: pointer;
  font-family: "flama medium";
  letter-spacing: 3px;
}

.navAnchor1 {
  display: flex;
  padding-left: 94px;
  padding-right: 50px;

  /* padding-top: 10px; */
  text-decoration: none;
  color: white;

  color: var(--White, #fff);

  font-size: 18px;
  font-style: normal;
  font-weight: 650;
  line-height: normal;
  letter-spacing: 3.6px;
}

.navAnchor2 {
  display: flex;
  padding-right: 30px;
  /* padding-right: 30%; */

  text-decoration: none;
  color: white;

  font-size: 18px;
  font-style: normal;
  font-weight: 650;
  line-height: normal;
  letter-spacing: 3.6px;
  /* padding-left: 50px; */
}

.shopContainer {
  display: flex;
  position: relative;
  /* position: absolute; */
  /* right: 217px; */
  left: 65%;
  align-items: center;
}

.shopSymbol {
  /* SHAPE */
  display: flex;

  width: 149px;
  height: 51px;
  /* TEXT */
  flex-shrink: 0;

  font-family: "flama medium";
  font-size: 18px;
  font-style: normal;
  font-weight: 650;
  text-decoration: none;
  letter-spacing: 3.6px;
  text-align: center;
  line-height: normal;
  /* BORDER */
  box-sizing: border-box;
  border: 3px solid #de6328;
  border-radius: 45px;
  /* SPACING */
  align-items: center;
  justify-content: center;
  /* padding: 14px 42px 15px 42px; */

  color: #de6328;
  cursor: pointer;
}

.shopSymbol:hover {
  background-color: #de6328;
  color: black;
}

@media screen and (max-width: 800px) {
  .nav {
    width: 100%;
    padding-left: 50%;
  }

  .logoImage {
    width: 20%;
    justify-content: left;
  }

  @media screen and (max-width: 800px) {
    .nav {
      flex-direction: column;
      align-items: center;
      padding: 10px; 
    }
  
    .logoImage {
      width: 50%; 
      margin: 10px 0; 
    }
  
    .navAnchors {
      flex-direction: column;
      padding: 10px; 
    }
  
    .navAnchor1,
    .navAnchor2 {
      padding: 10px 0; 
      text-align: center;
    }
  
    .shopContainer {
      left: 50%;
    }
  }
  
}
